body{
    font-family: 'Changa', sans-serif;
    margin: 0;
    width: 100%;
}
.header{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(100, 100, 100)), url('img/bg.jpg');
    background-blend-mode: saturation;
    background-size: cover;
    height: 600px;
    
}
/*______________menu______________*/
.nav{
    display: block;
    width: 100%;
    height: 50px;
}
.navbar{
    background-color: rgb(46, 46, 46);
    position: fixed;
    width: 100%;
}
.menu-holder{
    display: flex;
    justify-content: center;
}


.menu{
    list-style: none;
    display: inline-block;

}

.menu-link{
    color: rgb(211, 211, 211);
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    padding-left: 30px;
    transition: 0.3s;
}

.menu-link:hover{
    color: tomato;
    transition: 0.3s;
}

.tiny-menu {
    display: none;
}

@media all and (max-width: 700px) { 
    .navbar{
        display: block;
    }
    .tiny-menu{
        display: block;
        position: absolute;
        overflow:hidden;
        right: 20px;
        top: 10px;
    }
    .tiny-menu img{
        height: 60px;
    }
    .menu-holder{
        display: none;
    }
    .menu-link{
        padding: 0;
    }
    .menu{
        display: block;
    }
    .active{
        display: block;
    }
}
/*______________Upper Text______________*/
.marked{
    color: rgb(0, 255, 155)
}
.marked-2{
    color: rgb(255, 165, 0);
    margin: 0px;
}
.w-text{
    margin: 0px;
    color: white;
}
#top-text{
    font-size: 34px;
    display: grid;
    justify-content: center;
    text-align: center;
}
.ani:hover{
    transform: rotate(360deg);
    transition: 0.3s;
}


/*______________About Me______________*/
.about-me{
    background-image: linear-gradient(black, black);
    padding-bottom: 20px;
    padding-top: 30px;
}
.title-me{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 0;
    color: rgb(36, 240, 255);
}
/*____________animation_____________*/
.title-me:hover{
    animation-name: emoji;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes emoji {
    0%{color: dodgerblue;}
    20%{color: gold;}
    40%{color: fuchsia;}
    60%{color: greenyellow;}
    80%{color: cyan;}
    100%{color: coral;}

}

/*__________my image__________*/
.my-img{
    position: absolute;
    left: 800px;
}
.my-img img{
    
    width: 66.67%;
    display: flex;
    filter: drop-shadow(
    5px 5px 2px rgba(129, 236, 255, 0.404)
    )
    drop-shadow(
    -5px -5px 2px rgba(255, 132, 132, 0.404)
    );
}

/*_________skill____________*/

.nameLine{
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: rgb(124, 251, 255);
}
.nameLine sub{
    font-size: small;
    font-weight: 200;
}

/*____________skill sets___________*/
.me{
    font-size: 20px;
    position: relative;
    left: 100px;
    margin: 0;
    color: dodgerblue;
    width: 50%;
}
.skill-list{
    list-style: none;
    position: relative;
    left: 150px;
    margin: 0;
    color: rgb(96, 255, 96);
    width: 50%;
}
.skill{
    width: 50%;
    transition: 0.5s ease-in-out 0s;
}
.skill:hover{
    background-color: rgb(28, 28, 48);
    color: rgb(0, 225, 255);
}

/*________Learning Sets________*/
.learn-list{
    list-style: none;
    position: relative;
    left: 150px;
    margin: 0;
    color: rgb(96, 255, 96);
    width: 50%;
}

.topic{
    width: 50%;
    transition: 0.3s ease-in-out;
    color: rgb(217, 255, 0);
}

.topic:hover{
    background-color: rgb(28, 28, 48);
    color: rgb(205, 96, 255);
}

/*____media Q____*/
@media (max-width: 640px){
    .my-img{
        left: 10%;
        position: relative;
    }
}
@media (max-width: 1000px) and (min-width: 680px) {
    .my-img{
        left: 50%;
    }
    .my-img img{
        width: 250px;
    }
}